<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hbm2ddl.auto">update</property>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/fmovie</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping resource="framgiavn/project01/web/model/User.hbm.xml"/> 
    <mapping resource="framgiavn/project01/web/model/Category.hbm.xml"/>
    <mapping resource="framgiavn/project01/web/model/Movie.hbm.xml"/>
    <mapping resource="framgiavn/project01/web/model/Episode.hbm.xml"/>
    <mapping resource="framgiavn/project01/web/model/Comment.hbm.xml"/>
    <mapping resource="framgiavn/project01/web/model/Favorite.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
